body {
  background-image: url("../img/background.png");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

h1 img {
  margin: 0;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 40%;
   height:auto;
   padding: 50px;
}

.info {
  margin: 5px;
  position: absolute;
  top: 165%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:auto;
  padding: 245px;
}
h2 {
    background-image: linear-gradient(#fff5ff, #d9ecfa);
    color: #240838;
    font-family:"houschka-rounded", Arial, sans-serif;
    padding: 50px;
    border-radius: 20px;
}
span {
    color: #dd8bb3;
}

body {
	font-size: 12px;
	font-family: "houschka-rounded", Arial, sans-serif;
}
nav {
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #f1cb0c;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #dd8bb3;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #dd8bb3;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #dd8bb3;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #dd8bb3;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #dd8bb3;
}
